.header {
	padding-top: 3.516%;
	width: 68.75%;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 975px) {
	.header {
		width: 85%;
	}
}

@media (max-width: 768px) {
	.header {
		width: 100%;
		padding-top: 8.75%;
	}
}